.grid {
  width: 400px;
  height: 600px;
  background-image: url('./grid.png');
  position: relative;
}

.ocean {
  background-image: url('./ocean.png');
  background-repeat: no-repeat;
  z-index: 11;
}

.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.score {
  font-size: 36px;
  text-align: center;
  color: navy;
  font-family: Helvetica, Arial, sans-serif;
  top: 180px;
  width: 100%;
  z-index: 12;
  position: absolute;
}

.game-over {
  background-image: url('./gameOver.png');
  background-repeat: no-repeat;
  z-index: 10;
  visibility: hidden;
}

.doodler {
  width: 44px;
  height: 85px;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  z-index: 5;
}

.doodler-up-right {
  background-image: url('./doodlerUpRight.png');
}
.doodler-up-left {
  background-image: url('./doodlerUpLeft.png');
}
.doodler-down-right {
  background-image: url('./doodlerDownRight.png');
}
.doodler-down-left {
  background-image: url('./doodlerDownLeft.png');
}

.platform {
  width: 85px;
  height: 40px;
  background-image: url('./platform.png');
  background-repeat: no-repeat;
  z-index: 0;
  position: absolute;
}
